<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Covers</title>
    <link rel="styles" href="/src/css/covers.css" />
  </head>
  <body>
    <h2>Covers</h2>
    <div class="content">
      <div class="marquee">
        <div class="marquee__inner">
          <div class="marquee__line">
            <img
              srcset="
                /src/images/covers-images/body-cover.jpg    1x,
                /src/images/covers-images/body-cover@2x.jpg 2x
              "
              src="/src/images/covers-images/body-cover.jpg"
              alt="body-cover"
            />
          </div>
          <div class="marquee__line">
            <img
              srcset="
                /src/images/covers-images/business-cover.jpg    1x,
                /src/images/covers-images/business-cover@2x.jpg 2x
              "
              src="/src/images/covers-images/business-cover.jpg"
              alt="business-cover"
            />
          </div>
          <div class="marquee__line">
            <img
              srcset="
                /src/images/covers-images/cover1.jpg    1x,
                /src/images/covers-images/cover1@2x.jpg 2x
              "
              src="/src/images/covers-images/cover1.jpg"
              alt="cover1"
            />
          </div>
          <div class="marquee__line">
            <img
              srcset="
                /src/images/covers-images/english-cover.jpg    1x,
                /src/images/covers-images/english-cover@2x.jpg 2x
              "
              src="/src/images/covers-images/english-cover.jpg"
              alt="english-cover"
            />
          </div>
          <div class="marquee__line">
            <img
              srcset="
                /src/images/covers-images/face-cover.jpg    1x,
                /src/images/covers-images/face-cover@2x.jpg 2x
              "
              src="/src/images/covers-images/face-cover.jpg"
              alt="face-cover"
            />
          </div>
          <div class="marquee__line">
            <img
              srcset="
                /src/images/covers-images/finances-cover.jpg    1x,
                /src/images/covers-images/finances-cover@2x.jpg 2x
              "
              src="/src/images/covers-images/finances-cover.jpg"
              alt="finances-cover"
            />
          </div>
          <div class="marquee__line">
            <img
              srcset="
                /src/images/covers-images/fruits-cover.jpg    1x,
                /src/images/covers-images/fruits-cover@2x.jpg 2x
              "
              src="/src/images/covers-images/fruits-cover.jpg"
              alt="fruits-cover"
            />
          </div>
          <div class="marquee__line">
            <img
              srcset="
                /src/images/covers-images/mimino.jpg    1x,
                /src/images/covers-images/mimino@2x.jpg 2x
              "
              src="/src/images/covers-images/mimino.jpg"
              alt="mimino"
            />
          </div>
          <div class="marquee__line">
            <img
              srcset="
                /src/images/covers-images/ukrainian-cover.jpg    1x,
                /src/images/covers-images/ukrainian-cover@2x.jpg 2x
              "
              src="/src/images/covers-images/ukrainian-cover.jpg"
              alt="ukrainian-cover"
            />
          </div>
          <div class="marquee__line">
            <img
              srcset="
                /src/images/covers-images/vegetables-cover.jpg    1x,
                /src/images/covers-images/vegetables-cover@2x.jpg 2x
              "
              src="/src/images/covers-images/vegetables-cover.jpg"
              alt="vegetables-cover"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
