<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Work Together</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-img-text">
                    <div class="image-and-text">
                        <img src="./img/image-1x.jpg" srcset="./img/image-1x.jpg 1x, ./img/image-2x.jpg 2x" alt="Image"
                            class="footer-image">
                        <h1>LET'S <span class="work">WORK</span></h1>
                    </div>
                    <h1 class="together">TOGETHER</h1>
                </div>
                <form class="contact-form" id="contactForm">
                    <input type="email" placeholder="clients@gmail.com" class="input-info" required>
                    <textarea placeholder="comments" required class="input-info"></textarea>
                    <button type="submit" class="send-button">Send</button>
                </form>
                <div class="contact-info">
                    <a href="mailto:bydret@gmail.com" class="contact-link">bydret@gmail.com</a>
                    <a href="tel:+380111111111" class="contact-link">+380 11 1111 11 11</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Модальне вікно -->
    <div id="thankYouModal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <p class="modal-hed-p">Thank you for your interest in cooperation!</p>
            <p class="modal-p">The manager will contact you shortly to discuss further details and opportunities for
                cooperation. Please
                stay in touch.</p>
        </div>
    </div>

    <script src="scripts.js"></script>
</body>

</html>