<header id="header" class="header">
  <div class="container header-container">
    <!-- Logo container -->
    <div class="wrapper">
      <div class="logo-container">
        <a href="./index.html">
          <img
            srcset="
              ../images/logo-image/logo-image.png    1x,
              ../images/logo-image/logo-image@2x.png 2x
            "
            alt="jefferson-image"
            width="80"
            height="80"
          />
        </a>
        <p class="logo-text">jefferson*</p>
      </div>
      <button type="button" class="menu-button">
        <svg class="burger">
          <use href="../images/sprite.svg#burger"></use>
        </svg>
      </button>
    </div>
    <!-- menu container -->
    <nav class="nav">
      <button type="button" class="menu">Menu</button>
      <ul class="menu-list is-hidden">
        <li class="menu-item">
          <a href="#about-me">About me</a>
        </li>
        <li class="menu-item">
          <a href="#benefits">Benefits</a>
        </li>
        <li class="menu-item">
          <a href="#projects">Projects</a>
        </li>
        <li class="menu-item">
          <a href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <!-- order container -->
    <div class="order-container">
      <a class="order" href="#work-together">Order the project</a>
    </div>
  </div>
</header>
