<section id="#projects" class="projects">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="swiper-projects-container">
      <ul class="swiper-projects-wrapper">
        <li class="projects-swiper-slide">
          <div class="project-tech-skills">
            <ul class="tech-skills-list">
              <li class="tech-skills-item">#react</li>
              <li class="tech-skills-item">#js</li>
              <li class="tech-skills-item">#node js</li>
              <li class="tech-skills-item">#git</li>
            </ul>
            <p class="projects-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a
                href="https://dutko-diana.github.io/super-team-project/"
                target="_blank" class="project-link"
                >See project</a
              >
          </div>
          <div class="project-image">
            <picture>
                <source
                  srcset="
                    ./images/projects-images/first-project-dask+tab.jpg    1x,
                    ./images/projects-images/first-project-dask+tab@2x.jpg 2x
                  "
                  media="(max-width: 1440px)"
                />
                <source
                  srcset="
                    ./images/projects-images/first-project-mob.jpg    1x,
                    ./images/projects-images/first-project-mob@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                src="./images/projects-images/first-project-dask+tab.jpg"
                alt="first project" 
              />
              </picture>
          </div>
          
          
        </li>
        <li class="projects-swiper-slide">
          <div class="project-tech-skills">
            <ul class="tech-skills-list">
              <li class="tech-skills-item">#react</li>
              <li class="tech-skills-item">#js</li>
              <li class="tech-skills-item">#node js</li>
              <li class="tech-skills-item">#git</li>
            </ul>
            <p class="projects-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a
                href="https://dutko-diana.github.io/super-team-project/"
                target="_blank" class="project-link"
                >See project</a
              >
          </div>
          <div class="project-image">
            <picture>
                <source
                  srcset="
                    ./images/projects-images/second-project-dask+tab.jpg    1x,
                    ./images/projects-images/second-project-dask+tab@2x.jpg 2x
                  "
                  media="(max-width: 1440px)"
                />
                <source
                  srcset="
                    ./images/projects-images/second-project-mob.jpg    1x,
                    ./images/projects-images/second-project-mob@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                src="./images/projects-images/second-project-dask+tab.jpg"
                alt="first project" 
              />
              </picture>
          </div>
          
          
        </li>
        <li class="projects-swiper-slide">
          <div class="project-tech-skills">
            <ul class="tech-skills-list">
              <li class="tech-skills-item">#react</li>
              <li class="tech-skills-item">#js</li>
              <li class="tech-skills-item">#node js</li>
              <li class="tech-skills-item">#git</li>
            </ul>
            <p class="projects-text">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a
                href="https://dutko-diana.github.io/super-team-project/"
                target="_blank" class="project-link"
                >See project</a
              >
          </div>
          <div class="project-image">
            <picture>
                <source
                  srcset="
                    ./images/projects-images/third-project-dask+tab.jpg    1x,
                    ./images/projects-images/third-project-dask+tab@2x.jpg 2x
                  "
                  media="(max-width: 1440px)"
                />
                <source
                  srcset="
                    ./images/projects-images/third-project-mob.jpg    1x,
                    ./images/projects-images/third-project-mob@2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img 
                src="./images/projects-images/third-project-dask+tab.jpg"
                alt="first project" 
              />
              </picture>
          </div>
          
        </li>
      </ul>
      <!-- Кнопки навігації -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
