<section id="reviews" class="reviews">
  <div class="container">
    <h2 class="header-reviews">REVIEWS</h2>
    <div class="reviews-container swiper-container">
      <ul id="gallery-container" class="gallery-container swiper-wrapper"></ul>
      <div class="pagination">
        <button type="button" class="reviews-btn btn-prev">
          <svg class="reviews-icon" width="24" height="24">
            <use href="./images/sprite.svg#arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="reviews-btn btn-next">
          <svg class="reviews-icon" width="24" height="24">
            <use href="./images/sprite.svg#arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
