.about-me {
  padding-top: 64px;
}

.about-me-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.wrapper-title {
  border-radius: 24px;
  background-color: #242527;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  padding: 32px;
  height: 500px;
}
.functional {
  color: #ed3b44;
}
.websites {
  color: rgba(250, 250, 250, 0.4);
}

.info-list {
  margin-bottom: 32px;
}

.info-list .ac {
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  background-color: transparent;
  margin-top: 20px;
  padding-bottom: 32px;
}

.info-list .ac .ac-trigger {
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.info-list .ac .ac-trigger::after {
  content: '';
}

.arrow-down {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 8px;
  width: 36px;
  height: 36px;
  stroke-width: 2px;
  stroke: #fafafa;
  fill: transparent;
}

.info-list .ac.is-active > .ac-header .ac-trigger .arrow-down {
  rotate: 180deg;
}

.info-list .ac.is-active > .ac-header .ac-trigger::after {
  content: '';
}

.info-list .ac .ac-panel {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info-list .ac .ac-panel .ac-text:first-child {
  margin-top: 12px;
}

.info-list .ac .ac-panel .ac-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  padding: 0;
}

.skills {
  position: relative;
}

.skills .swiper {
  width: 260px;
  margin-left: 0;
}

.swiper-slide .skill-text {
  flex-shrink: 0;
  height: 130px;
  border-radius: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.swiper .swiper-button-next {
  position: relative;
  bottom: 60px;
  left: 180px;
}

.skills .swiper-button-next {
  right: 0;
  top: 50%;
  transform: translateY(25%);
  width: 28px;
  height: 28px;
}

.skills .swiper-button-next::after {
  content: '';
}

.arrow-right {
  stroke-width: 2px;
  stroke: #3b3b3b;
  fill: transparent;
}

.swiper-slide-active .skill-text {
  background-color: #ed3b44;
}

@media screen and (min-width: 768px) {
  .about-me-wrapper {
    margin-bottom: 64px;
  }

  .wrapper-title {
    font-size: 38px;
    line-height: 1.05;
    padding: 64px;
    height: 700px;
  }

  .info-list {
    margin-bottom: 64px;
  }

  .info-list .ac {
    margin-top: 32px;
  }

  .arrow-down {
    padding: 9px;
    width: 40px;
    height: 40px;
  }

  .info-list .ac .ac-panel .ac-text:first-child {
    margin-top: 8px;
  }

  .skills .swiper {
    width: 600px;
  }

  .swiper-slide .skill-text {
    height: 200px;
    font-size: 20px;
  }

  .skills .swiper-button-next {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me {
    padding-top: 96px;
  }

  .about-me-wrapper {
    flex-direction: row;
    margin-bottom: 96px;
  }

  .info-list {
    margin-bottom: 96px;
  }

  .info-list .ac {
    margin-top: 32px;
  }

  .info-list .ac .ac-panel {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 32px;
  }

  .info-list .ac .ac-panel .ac-text {
    grid-column: 2;
    width: 612px;
  }

  .skills {
    width: 1312px;
    margin: 0 auto;
  }

  .skills .swiper {
    width: 1200px;
  }
}
