.benefits {
  padding-top: 64px;
}

.benefits-title {
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.benefits-contents {
  margin-top: 32px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.benefits-item {
  border-radius: 20px;
  padding: 24px;
  background-color: #242527;
}

.benefits-icon-box {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  background: #ed3b44;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits-icon {
  stroke: #fafafa;
  fill: transparent;
}

.benefits-item-title {
  margin-top: 64px;
  font-size: 20px;
  font-weight: 600;
}

.benefits-item-text {
  margin-top: 8px;
  color: rgba(250, 250, 250, 0.6);
}

.benefits-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  margin-top: 32px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 36px;
  width: 187px;
  height: 55px;
  background-color: transparent;
  font-weight: 500;
  transition: color 250ms ease-in-out, border-color 250ms ease-in-out;
}

.benefits-btn:hover,
.benefits-btn:focus {
  color: #ed3b44;
  border-color: #ed3b44;
}

@media screen and (min-width: 768px) {
  .benefits {
    padding-top: 96px;
  }

  .benefits-list {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .benefits-item {
    width: calc((100% - 16px) / 2);
  }

  .benefits-btn {
    margin-top: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .benefits {
    padding-top: 164px;
  }

  .benefits-container {
    display: flex;
    gap: 412px;
  }

  .benefits-contents {
    margin-top: 0;
  }

  .benefits-title {
    margin-top: 0;
  }

  .benefits-list {
    width: 680px;
  }
}
