/* main */
.reviews {
  padding-top: 64px;
}

.review-gallery-item {
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  width: 343px;
  height: 302px;
  margin-top: 32px;
}

.gallery-container {
  display: flex;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .gallery-container {
    width: 704px;
    height: 302px;
  }

  /* .review-gallery-item {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 20px;
    padding: 32px 24px;
    width: 344px;
    height: 302px;
  } */
}
@media screen and (min-width: 1440px) {
  .gallery-container {
    width: 1376px;
    height: 302px;
  }

  /* .review-gallery-item {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 20px;
    padding: 32px 24px;
    width: 332px;
    height: 302px;
  } */
}
/* rest */
.header-reviews {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.review-gallery-link {
}
.avatar {
  border-radius: 10px;
  width: 48px;
  height: 48px;
}
.review-info {
}
.review-author {
  padding-top: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}
.review-text {
  padding-top: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 12px;
}
.reviews-btn {
  cursor: pointer;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 50%;
  padding: 14px;
  width: 52px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;

  transition: border-color 250ms ease-in-out;
}

.reviews-btn:hover {
  border-color: #ed3b44;
}

.reviews-btn:hover .reviews-icon {
  stroke: #ed3b44;
}

.reviews-icon {
  flex-shrink: 0;
  fill: none;
  stroke: #fafafa;

  transition: stroke 250ms ease-in-out;
}
